{% extends 'core/base.html' %}

{% block maincontent %}

<div class="container-fluid mt-5">
    <h1 class=" text-warning mb-5 border-bottom ">
        Services
    </h1>
    <!--ROW ONE STARTED HERE-->
    <div class="row text-white">
        <div class="col-sm-4 text-center">
            <i class="fas fa-search-dollar fa-2x mb-3 " style="color: chocolate;"></i>
            <h3>SEO</h3>
            <p style="color: antiquewhite;">Here,You Can Write anything according to your requirments.</p>
        </div>
        <div class="col-sm-4 text-center">
            <i class="fas fa-palette fa-2x mb-3 " style="color: chocolate;"></i>
            <h3>Web Desing</h3>
            <p style="color: antiquewhite;">Here,You Can Write anything according to your requirments.</p>
        </div>
        <div class="col-sm-4 text-center">
            <i class="fas fa-code fa-2x mb-3 " style="color: chocolate;"></i>
            <h3>Web Development</h3>
            <p style="color: antiquewhite;">Here,You Can Write anything according to your requirments.</p>
        </div>
    </div>
        <!--ROW TWO STARTED HERE-->
        <div class="row text-white">
            <div class="col-sm-4 text-center">
                <i class="fab fa-android fa-2x mb-3 " style="color: chocolate;"></i>
                <h3>Android</h3>
                <p style="color: antiquewhite;">Here,You Can Write anything according to your requirments.</p>
            </div>
            <div class="col-sm-4 text-center">
                <i class="fab fa-apple fa-2x mb-3 " style="color: chocolate;"></i>
                <h3>IOS</h3>
                <p style="color: antiquewhite;">Here,You Can Write anything according to your requirments.</p>
            </div>
            <div class="col-sm-4 text-center">
                <i class="fas fa-ad fa-2x mb-3 " style="color: chocolate;"></i>
                <h3>Advertising</h3>
                <p style="color: antiquewhite;">Here,You Can Write anything according to your requirments.</p>
            </div>
        </div>
            <!--ROW THREE STARTED HERE-->
    <div class="row text-white">
        <div class="col-sm-4 text-center">
            <i class="fas fa-pencil-alt fa-2x mb-3 " style="color: chocolate;"></i>
            <h3>Logo Desing</h3>
            <p style="color: antiquewhite;">Here,You Can Write anything according to your requirments.</p>
        </div>
        <div class="col-sm-4 text-center">
            <i class="fas fa-database fa-2x mb-3 " style="color: chocolate;"></i>
            <h3>Hosting</h3>
            <p style="color: antiquewhite;">Here,You Can Write anything according to your requirments.</p>
        </div>
        <div class="col-sm-4 text-center">
            <i class="fas fa-headset fa-2x mb-3 " style="color: chocolate;"></i>
            <h3>Support</h3>
            <p style="color: antiquewhite;">Here,You Can Write anything according to your requirments.</p>
        </div>
    </div>
</div>

{% endblock maincontent %}